<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petición AJAX</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="../js/03people.js"></script>
    <script type="text/javascript" src="../js/scripts.js"></script>

</head>

<body>
    <main id="indexContent">
        <h1>Web del Gobierno Vasco donde se puedan ver todas las entidades, personas y equipamientos</h1>
        <header>
            <a href="../index.html">
                <img src="../img/f-logo-gv.png" alt="Logo de GV-EJ" />
            </a>
            <nav id="mainNav">
                <ul>
                    <li><a href="00types.html">TIPOS</a></li>
                    <li><a href="01general.html">GENERAL</a></li>
                    <li><a href="02entities.html">ENTIDADES</a></li>
                    <li><a href="03people.html">PERSONAS</a></li>
                    <li><a href="04equipments.html">EQUIPAMIENTOS</a></li>
                </ul>
            </nav>
            <button onclick="idioma()">
                <img id="imglang" src="../img/idioma.png" alt="IDIOMA" />
            </button>
        </header>
        <hr>
        <!--1.1 PETICIONES AJAX A TRAVÉS DE FETCH - Listar usuarios -->
        <div id="intro">
            <p>PERSONAS ( &nbsp; </p>
            <p id="desde"> </p>
            <p>&nbsp;a&nbsp; </p>
            <p id="hasta"> </p>
            <p>&nbsp;de&nbsp; </p>
            <p id="total"> </p>
            <p>&nbsp;)&nbsp;</p>
            <button id="siguientes" onclick="siguiente()">SIGUIENTES</button>
        </div>
        <hr>
        <div id="personas"></div>
        <hr>
        <p id="resumen">Se muestran los datos de contacto de personas (cargos públicos).</p>
        <hr>
</body>
</main>

</html>